{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "react-hooks",
    "simple-import-sort"
  ],
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "prettier/prettier": 2,
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [
          [
            "^react",
            "^@?\\w"
          ],
          [
            "^(google-protobuf*)"
          ],
          [
            "^(anyboards-proto*)"
          ],
          [
            "^(@dnd-kit*)"
          ],
          [
            "^(@/app*)"
          ],
          [
            "^(@/pages*)"
          ],
          [
            "^(@/features*)"
          ],
          [
            "^(@/entities*)"
          ],
          [
            "^(@/shared*)"
          ],
          [
            "^\\u0000"
          ],
          [
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$"
          ],
          [
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$"
          ],
          [
            "^.+\\.?(css)$"
          ]
        ]
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}